#desc {
    height:200px;
}

.img_div {
    position:absolute;
    padding-left : 40%;
    padding-bottom : 20px;
}

.img {
    width: 600px;
    height: 280px;
    border-width: 5px;
    border-style: solid;
}

.arth-preview{
    background-color: bisque;
}